aiofiles==0.3.1
asn1crypto==0.22.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
cryptography==2.0
httptools==0.0.9
idna==2.5
optionaldict==0.1.1
pycparser==2.18
python-dateutil==2.6.1
requests==2.18.1
sanic==0.5.4
six==1.10.0
ujson==1.35
urllib3==1.21.1
uvloop==0.8.0
websockets==3.3
wechatpy==1.4.2
xmltodict==0.11.0
